.game-mode-form h2 {
    color:white;
}

input {
    max-width: 80px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.input-numbers {
    position: relative;
    z-index: 10000;
}

.container-game-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:30px;
    width: 800px;
    align-items:center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 55px;
}

.input-form-container {
    display: flex;
    flex-direction: row;
    height: 38%;
}

.btn-submit {
    min-width: 100%;
    height: 25px;
    font-size: 16px;
    background-color: #cce6ff;
    height: 50%;
}

.btn-submit:hover {
    min-width: 100%;
    height: 25px;
    height: 50%;
    font-size: 16px;
    background-color: #e6f3ff;
}

.game-mode-display {
    height: 55px;
    background-color: #cce6ff;
    min-width: 150px;
    font-size: 25px;
    font-weight: bold;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;

    border-radius: 15px;
}

.btn-game-mode {
    width: 150px;
    height: 55px;
    font-size: 25px;
    background-color: #cce6ff;
    border-radius: 15px;
}

.btn-game-mode:hover {
    width: 150px;
    height: 55px;
    font-size: 25px;
    background-color: #e6f3ff;
    border-radius: 15px;
}